In [1]:
# import dependencies
import pandas as pd
import os
from sqlalchemy import create_engine

In [2]:
# create a connection to the database
engine = create_engine('postgresql://postgres:postgres@localhost:5432/HigherEducation')
con = engine.connect()

# if table exists replace
if_exists_param = 'replace'

# STEP 1: EXTRACT

### DATASOURCE 1
Extract all records from the College Scorecard CSV Files

In [5]:
# set files path
path = 'data/scorecard'

# columns to select from datasets
colleges_columns = [ 'UNITID','INSTNM','INSTURL',\
                    'CITY','STABBR','ZIP',\
                    'LATITUDE','LONGITUDE',\
                    'ST_FIPS', 'REGION','SCHTYPE',\
                    'HIGHDEG','CURROPER'
                  ]

# create an empty dataframe for storing the CSV files data
colleges_df = pd.DataFrame() 

# loop through files in current directory
for filename in os.listdir(path):
    if 'MERGED' in filename:
        year = filename[6:][:7]
        df = pd.read_csv(os.path.join(path, filename), encoding='utf-8', low_memory=False)
        df = df[colleges_columns]
        try:
            colleges_df = colleges_df.append(df, ignore_index=True)
        except:
            pass

### DATASOURCE 2
Extract list of College IDs and College names

In [6]:
# set files path
path = 'data/kaggle'

# CSV file to read
filename = 'salaries-by-region-id.csv'

# import colleges from Kaggle CSV and only retrieve the first two columns
colleges_kaggle_df = pd.read_csv(os.path.join(path, filename), encoding='utf-8').iloc[:, 0:2]

# CSV file to read
filename = 'salaries-by-college-type-id.csv'

# import college types from Kaggle CSV and only retrieve the firt three columns
college_types_df = pd.read_csv(os.path.join(path, filename), encoding='utf-8').iloc[:, 0:3]

### DATASOURCE 3
Extract a list of Zip Codes and Core-Based Statistical Area (CBSA) Codes

In [7]:
# set files path
path = 'data/cbsa'

# specify crosswalk file load into table
filename = 'zipcode_cbsa_crosswalk_2018.csv'
zips_df = pd.read_csv(os.path.join(path, filename), encoding='utf-8', low_memory=False)

### DATASOURCE 4
Extract list of Core-based statistical areas designated by the Office of Management and Budget

In [8]:
# cbsa dataframe column names
cbsa_columns = [ 
                 'cbsa_code', 'cbsa_title',
                 'csa_code', 'title', 
                 'state_name', 'state_fips', 
                 'county', 'county_code'
               ]

cbsa_cols_renamed = {
                        'CBSA Code': 'cbsa_code', 'CBSA Title': 'cbsa_title',
                        'CSA Code': 'csa_code', 'CSA Title': 'title', 
                        'State Name': 'state_name', 'FIPS State Code': 'state_fips',
                        'County/County Equivalent': 'county',
                        'FIPS County Code': 'county_code'
                    }

# create dataframe to hold all cbsa code data from files
cbsa_df = pd.DataFrame(columns=cbsa_columns)

# loop through current working directory CBSA code excel files
for filename in os.listdir(path):
    if filename.endswith('_cbsa.xls'):
        # read excel file and delete the last three rows containing text
        df = pd.read_excel(os.path.join(path, filename), sheet_name=0, skiprows=2, skipfooter=3)#.iloc[:-3]
        df = df.rename(columns=cbsa_cols_renamed)[cbsa_columns]
        cbsa_df = cbsa_df.append(df, ignore_index=True)

### DATASOURCE 2
Extract list of Majors, Start and Mid-Career Median Salaries

In [9]:
degreesTPB_df = pd.read_csv(r"data/kaggle/degrees-that-pay-back.csv")

### DATASOURCE 2
Extract Colleges, Start and Mid-Career Median Salaires

In [10]:
# Extract CSVs into DataFrames
salaries_file = "data/kaggle/salaries-by-college-type-id.csv"
majors_file = "data/kaggle/degrees-that-pay-back.csv"

salaries_per_college = pd.read_csv(salaries_file)
majors_df = pd.read_csv(majors_file)

# STEP 2: TRANSFORM

### DATASOURCE 1

In [11]:
### College Scorecard Data Dictionary

HIGHDEG = {
	0:	'Non-degree-granting',
	1:	'Certificate degree',
	2:	'Associate degree',
	3:	'Bachelors degree',
	4:	'Graduate degree'
}

ICLEVEL = {
	1:	'4-year',
	2:	'2-year',
	3:	'Less-than-2-year'
}

REGION = {
	0:	'U.S. Service Schools',
	1:	'New England (CT, ME, MA, NH, RI, VT)',
	2:	'Mid East (DE, DC, MD, NJ, NY, PA)',
	3:	'Great Lakes (IL, IN, MI, OH, WI)',
	4:	'Plains (IA, KS, MN, MO, NE, ND, SD)',
	5:	'Southeast (AL, AR, FL, GA, KY, LA, MS, NC, SC, TN, VA, WV)',
	6:	'Southwest (AZ, NM, OK, TX)',
	7:	'Rocky Mountains (CO, ID, MT, UT, WY)',
	8:	'Far West (AK, CA, HI, NV, OR, WA)',
	9:	'Outlying Areas (AS, FM, GU, MH, MP, PR, PW, VI)'
}

DISTANCEONLY = {
	0:	'Not distance-education only',
	1:	'Distance-education only'
}
    
CURROPER = {
	0:	'Not currently certified as an operating institution',
	1:	'Currently certified as operating'
}
    
SCHTYPE = { 
	1:	'Public',
	2:	'Private, Nonprofit',
	3:	'Private, For-profit'
}

In [12]:
# keep only the first 5 characters of the zip code
colleges_df['ZIP'] = colleges_df['ZIP'].str[:5]

cond1 = (colleges_df['CURROPER'] == 1)           # select currently operating schools
cond2 = (colleges_df['HIGHDEG'] > 0)             # select degree granting schools only
colleges_df = colleges_df[cond1 & cond2]         # filter data and save as updated dataframe

# columns renamed as user friendly labels for use in database
college_cols_renamed = {
                        'UNITID'    : 'college_id',
                        'INSTNM'    : 'name',
                        'INSTURL'   : 'website',
                        'SCHTYPE'   : 'schtype',
                        'CITY'      : 'city',
                        'STABBR'    : 'state',
                        'ZIP'       : 'zipcode',
                        'ST_FIPS'   : 'state_fips',
                        'LATITUDE'  : 'latitude',
                        'LONGITUDE' : 'longitude',
                        'REGION'    : 'region'
                       }

# rename columns
colleges_df = colleges_df.rename(columns=college_cols_renamed)

# drop last two rows
df_cols = len(colleges_df.columns)
colleges_df.drop(colleges_df.iloc[:, df_cols-2:df_cols], inplace = True, axis = 1)

# update region names using the data dictionary provided by College Scorecard
colleges_df['region'] = colleges_df['region'].replace(REGION)
colleges_df['schtype'] = colleges_df['schtype'].replace(SCHTYPE)

### DATASOURCE 2

In [13]:
# drop any rows with a missing college id
colleges_kaggle_df = colleges_kaggle_df[colleges_kaggle_df['UNITID'].isna() == False]

# convert the college id to an integer
colleges_kaggle_df = colleges_kaggle_df.astype({ 'UNITID': int })

# rename the `UNITID` column to `college_id`
colleges_kaggle_df.rename(columns={'UNITID': 'college_id', 'School Name': 'name'}, inplace=True)

# drop duplicates
colleges_kaggle_df.drop_duplicates(inplace=True)

# sort `college_id`
colleges_kaggle_df.sort_values(by='college_id', inplace=True)

# reset index
colleges_kaggle_df.reset_index(drop=True, inplace=True)

In [14]:
# drop any rows with a missing college id
college_types_df = college_types_df[college_types_df['UNITID'].isna() == False]

# convert the college id to an integer
college_types_df = college_types_df.astype({ 'UNITID': int })

# rename the `UNITID` column to `college_id`
college_types_df.rename(columns={'UNITID': 'college_id', 'School Name': 'name', 'School Type': 'type'}, inplace=True)

# update school types of `Party` or `State` to `Public`
college_types_df.loc[college_types_df['type'].isin(['Party','State']), 'type'] = 'Public'

# drop duplicates
college_types_df.drop_duplicates(inplace=True)

# remove bad data
college_types_df = college_types_df.drop(college_types_df[(college_types_df['college_id']==233295) & (college_types_df['type']=='Public')].index)

# sort by `college_id`
college_types_df.sort_values(by='college_id', inplace=True)

# reset index
college_types_df.reset_index(drop=True,inplace=True)
college_types_df.index = college_types_df.index + 1

### DATASOURCE 1 AND 2 MERGED

In [15]:
# merge Kaggle colleges data with Scorecard colleges data
colleges_tbl = pd.merge(colleges_kaggle_df.merge(college_types_df, on=['college_id','name'], how='left'),
              colleges_df, on=['college_id'], how='left')

# replace missing Kaggle college type with Scorecard college type
colleges_tbl.type.fillna(colleges_tbl.schtype, inplace=True)

# delete unneeded columns
del colleges_tbl['schtype']
del colleges_tbl['name_y']

# rename `name` column
colleges_tbl.rename(columns={'name_x': 'name'}, inplace=True)

# set `college_id` as the index
colleges_tbl.set_index('college_id', inplace=True)

### DATASOURCE 3

In [16]:
# rename column
zips_df = zips_df.rename(columns={ 'cbsacode': 'cbsa_code'})

# drop any duplicate rows
zips_df.drop_duplicates(inplace=True)

# sort table by zip code
zips_df.sort_values(by=['zipcode'], inplace=True)

# reset the index
zips_df.reset_index(drop=True, inplace=True)

### DATASOURCE 4

In [17]:
# drop any duplicate rows
cbsa_df.drop_duplicates(inplace=True)

# replace missing csa titles with the cbsa title
cbsa_df.title.fillna(cbsa_df.cbsa_title, inplace=True)

# sort table by zip code
cbsa_df.sort_values(by=['state_fips'], inplace=True)

# reset the index
cbsa_df.reset_index(drop=True, inplace=True)

# make sure that the codes are integers
cbsa_int_cols = ['cbsa_code', 'csa_code', 'state_fips', 'county_code']
cbsa_df.fillna({ col: 0 for col in cbsa_int_cols }, inplace=True)
cbsa_df = cbsa_df.astype({ col: int for col in cbsa_int_cols })

# delete unneeded columns
del cbsa_df['cbsa_title']

# drop rows with any missing data
cbsa_df.dropna(how='any', inplace=True)

# restructure columns
cbsa_df = cbsa_df[['cbsa_code', 'title','state_name','state_fips']]

# Glassdoor Metro Areas and lookup keys
areas = {
    'Atlanta': 'Atlanta',
    'Boston': 'Boston',
    'Chicago': 'Chicago',
    'Houston': 'Houston',
    'Los Angeles': 'Los Angeles',
    'New York': 'New York City',
    'Philadelphia-Camden': 'Philadelphia',
    'San Francisco': 'San Francisco',
    'Seattle': 'Seattle',
    'DC': 'Washington DC'
}

# create metro column in table with default string 'N/A'
cbsa_df['metro'] = 'N/A'

# loop through lookup keys
for area,metro in areas.items():
    # set glassdoor metro name where lookup key is found in CBSA title
    cbsa_df.loc[cbsa_df.title.str.contains(area), 'metro'] = metro

### DATASOURCE 3 AND 4 MERGED

In [18]:
# merge transformations into one table for storing to the database
regions_tbl = pd.merge(zips_df, cbsa_df, on=['cbsa_code'], how='left')

# drop any duplicate rows
regions_tbl.drop_duplicates(inplace=True)

# drop rows with any missing data
regions_tbl.dropna(how='any', thresh=3, inplace=True)

# reset the index
regions_tbl.reset_index(drop=True, inplace=True)

# make sure that the codes are integers
regions_int_cols = ['cbsa_code', 'state_fips']
regions_tbl.fillna({ col: 0 for col in regions_int_cols }, inplace=True)
regions_tbl = regions_tbl.astype({ col: int for col in regions_int_cols })

# set `zipcode` as the index
regions_tbl.set_index('zipcode', inplace=True)

### DATASOURCE 2

In [19]:
# rename columns
degreesTPB_df = degreesTPB_df.rename(columns={"Undergraduate Major": "Majors"})

# transform salary columns to float
for col in degreesTPB_df.columns:
    if 'Salary' in col:
        degreesTPB_df[col] = degreesTPB_df[col].replace( '[\$,)]','', regex=True ).astype(float)
        
# drop unnecessary columns
degreesTPB_df = degreesTPB_df.drop(columns=['Percent change from Starting to Mid-Career Salary', 'Mid-Career 10th Percentile Salary', 'Mid-Career 25th Percentile Salary', 'Mid-Career 75th Percentile Salary', 'Mid-Career 90th Percentile Salary'])

# set name of index
degreesTPB_df.index.name = 'major_id'

### DATASOURCE 2

In [20]:
salaries_columns      = ['UNITID', 'Starting Median Salary', 'Mid-Career Median Salary']
salaries_cols_renamed = {'UNITID': 'college_id', 
                          'Starting Median Salary': 'starting_median_salary',
                          'Mid-Career Median Salary': 'midcareer_median_salary'
                         }
salaries_per_college  = salaries_per_college[salaries_columns].rename(columns=salaries_cols_renamed)

# drop any duplicate rows
salaries_per_college.drop_duplicates(inplace=True)

# drop rows with any missing data
salaries_per_college.dropna(how='any', inplace=True)

# transform `college_id` to integer
salaries_per_college  = salaries_per_college.astype({ 'college_id': int })

# transform salary columns to float
for col in salaries_per_college.columns:
    if 'salary' in col:
        salaries_per_college[col] = salaries_per_college[col].replace( '[\$,)]','', regex=True ).astype(float)

# set `college_id` as index     
salaries_per_college.set_index('college_id', inplace=True)

### DATASOURCE 2

In [21]:
# select only needed column
majors_df = majors_df[['Undergraduate Major']]

# sort majors in ascending alphabetical order
majors_df['Undergraduate Major'] = majors_df['Undergraduate Major'].sort_values()

# set name of index
majors_df.index.name = 'major_id'

# create `major_id` from the index column and rename the columns
majors_df = majors_df.rename(columns={'Undergraduate Major': 'major'})

# STEP 3: LOAD

In [ ]:
# store COLLEGES table in database
colleges_tbl.to_sql(name='colleges', con=engine, if_exists=if_exists_param, index=True, method='multi')

# store REGIONS table in database
regions_tbl.to_sql(name='regions', con=engine, if_exists=if_exists_param, index=True, method='multi')

# store SALARIES_PER_MAJOR table in database
degreesTPB_df.to_sql(name='salaries_per_major', con=engine, if_exists=if_exists_param, index=True)

# store SALARIES_PER_COLLEGE table in database
salaries_per_college.to_sql(name='salaries_per_college', con=engine, if_exists=if_exists_param, index=True)

# store MAJORS table in database
majors_df.to_sql(name='majors', con=engine, if_exists=if_exists_param, index=True)

# store COLLEGE MAJORS table in database
#college_majors_df.to_sql(name='college_majors', con=engine, if_exists=if_exists_param, index=True)

## Export Tables to CSV Files

In [22]:
# set files path
path = 'resources'

# store COLLEGES table in database
filename = 'college_names.csv'
colleges_tbl.to_csv(os.path.join(path, filename), sep=',', encoding='utf-8', mode='w')

# store REGIONS table in database
filename = 'regions.csv'
regions_tbl.to_csv(os.path.join(path, filename), sep=',', encoding='utf-8', mode='w')

# store SALARIES_PER_MAJOR table in database
filename = 'salaries_per_major.csv'
degreesTPB_df.to_csv(os.path.join(path, filename), sep=',', encoding='utf-8', mode='w')

# store SALARIES_PER_COLLEGE table in database
filename = 'salaries_per_college.csv'
salaries_per_college.to_csv(os.path.join(path, filename), sep=',', encoding='utf-8', mode='w')

# store MAJORS table in database
filename = 'majors.csv'
majors_df.to_csv(os.path.join(path, filename), sep=',', encoding='utf-8', mode='w')

# store COLLEGE MAJORS table in database
filename = 'college_majors.csv'
#college_majors_df.to_csv(os.path.join(path, filename), sep=',', encoding='utf-8', mode='w')