In [2]:
#import dependencies
import pandas as pd
import os

In [3]:
#generate filepath
path = os.getcwd()
files = os.listdir(path)
files

['2017-09 Glassdoor.xlsx',
 '2017-06 Glassdoor.xlsx',
 '.DS_Store',
 '2017-07 Glassdoor.xlsx',
 '2017-12 Glassdoor.xlsx',
 '2017-08 Glassdoor.xlsx',
 '2017-10 Glassdoor.xlsx',
 '2017-11 Glassdoor.xlsx',
 '2018-01 Glassdoor.xlsx',
 '2018-09 Glassdoor.xlsx',
 '2019-07 Glassdoor.xlsx',
 '2019-12 Glassdoor.xlsx',
 '2019-08 Glassdoor.xlsx',
 '2018-06 Glassdoor.xlsx',
 '2019-01 Glassdoor.xlsx',
 '2019-09 Glassdoor.xlsx',
 '2018-07 Glassdoor.xlsx',
 '2018-12 Glassdoor.xlsx',
 '2018-08 Glassdoor.xlsx',
 '2019-06 Glassdoor.xlsx',
 '2019-11 Glassdoor.xlsx',
 '2019-04 Glassdoor.xlsx',
 '.ipynb_checkpoints',
 '2018-02 Glassdoor.xlsx',
 'Glassdoor Dataset.ipynb',
 '2019-03 Glassdoor.xlsx',
 '2018-05 Glassdoor.xlsx',
 '2018-10 Glassdoor.xlsx',
 '~$2019-12 Glassdoor.xlsx',
 '2018-11 Glassdoor.xlsx',
 '2018-04 Glassdoor.xlsx',
 '2019-02 Glassdoor.xlsx',
 '2018-03 Glassdoor.xlsx',
 '2019-05 Glassdoor.xlsx',
 '2019-10 Glassdoor.xlsx']

In [4]:
#extract only excel files from folder
files_xlsx = [f for f in files if f[-5:] == '.xlsx']
files_xlsx

['2017-09 Glassdoor.xlsx',
 '2017-06 Glassdoor.xlsx',
 '2017-07 Glassdoor.xlsx',
 '2017-12 Glassdoor.xlsx',
 '2017-08 Glassdoor.xlsx',
 '2017-10 Glassdoor.xlsx',
 '2017-11 Glassdoor.xlsx',
 '2018-01 Glassdoor.xlsx',
 '2018-09 Glassdoor.xlsx',
 '2019-07 Glassdoor.xlsx',
 '2019-12 Glassdoor.xlsx',
 '2019-08 Glassdoor.xlsx',
 '2018-06 Glassdoor.xlsx',
 '2019-01 Glassdoor.xlsx',
 '2019-09 Glassdoor.xlsx',
 '2018-07 Glassdoor.xlsx',
 '2018-12 Glassdoor.xlsx',
 '2018-08 Glassdoor.xlsx',
 '2019-06 Glassdoor.xlsx',
 '2019-11 Glassdoor.xlsx',
 '2019-04 Glassdoor.xlsx',
 '2018-02 Glassdoor.xlsx',
 '2019-03 Glassdoor.xlsx',
 '2018-05 Glassdoor.xlsx',
 '2018-10 Glassdoor.xlsx',
 '~$2019-12 Glassdoor.xlsx',
 '2018-11 Glassdoor.xlsx',
 '2018-04 Glassdoor.xlsx',
 '2019-02 Glassdoor.xlsx',
 '2018-03 Glassdoor.xlsx',
 '2019-05 Glassdoor.xlsx',
 '2019-10 Glassdoor.xlsx']

In [5]:
glassdoor_df = pd.DataFrame()

In [6]:
# Combine all datasets of salaries from each year
for f in files_xlsx[:1]:
    data = pd.read_excel(f, 'Sheet1')
    glassdoor_df = glassdoor_df.append(data)

In [7]:
glassdoor_df

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY
0,National,Quick Facts,2017-09,U.S. Median Pay,U.S. Median Pay,"$ 51,402",1.6%
1,Atlanta,Quick Facts,2017-09,Metro Median Pay,Metro Median Pay,"$ 52,948",1.5%
2,Atlanta,Quick Facts,2017-09,U.S. Median Pay,U.S. Median Pay,"$ 51,402",1.6%
3,Atlanta,Quick Facts,2017-09,Job Openings,Job Openings,"111,669",12.7%
4,Atlanta,Quick Facts,2017-07,Labor Force Size,Labor Force Size,"3,052,606",3.1%
...,...,...,...,...,...,...,...
1992,Washington DC,Timeseries,2014-01,Metro Median Base Pay,Median Base Pay,55124.3333333333,NaN
1993,Washington DC,Timeseries,2013-12,Metro Median Base Pay,Median Base Pay,55044.0,NaN
1994,Washington DC,Timeseries,2013-11,Metro Median Base Pay,Median Base Pay,54919.0,NaN
1995,Washington DC,Timeseries,2013-10,Metro Median Base Pay,Median Base Pay,55021.6666666667,NaN
1996,Washington DC,Timeseries,2013-09,Metro Median Base Pay,Median Base Pay,55168.0,NaN

In [8]:
#Show the Salaries of each industry to match with college major
industry_df  = glassdoor_df[glassdoor_df['Dimension Type'] == 'Industry']

In [9]:
# Organize salaries by city 
cityindustry_df = industry_df[industry_df['Metro'] != 'National']
cityindustry_df

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY
1088,New York City,Industry,2017-09,Accounting & Legal,Median Base Pay,61287.0,NaN
1089,New York City,Industry,2017-09,Aerospace & Defense,Median Base Pay,63948.0,NaN
1090,New York City,Industry,2017-09,Architecture & Civil Engineering,Median Base Pay,62142.0,NaN
1091,New York City,Industry,2017-09,Arts & Entertainment,Median Base Pay,55254.0,NaN
1092,New York City,Industry,2017-09,Automotive,Median Base Pay,55632.0,NaN
...,...,...,...,...,...,...,...
1453,Seattle,Industry,2017-09,Supermarkets,Median Base Pay,57068.0,NaN
1454,Seattle,Industry,2017-09,Telecommunications,Median Base Pay,59164.0,NaN
1455,Seattle,Industry,2017-09,Transportation & Logistics,Median Base Pay,58288.0,NaN
1456,Seattle,Industry,2017-09,Travel & Tourism,Median Base Pay,55439.0,NaN
1457,Seattle,Industry,2017-09,Wholesale,Median Base Pay,58960.0,NaN

In [10]:
# Show only city, salary, and industry
citysalary_df = cityindustry_df.drop(columns=['Dimension Type', 'YoY'])
citysalary_df.head(30)

,Metro,Month,Dimension,Measure,Value
1088,New York City,2017-09,Accounting & Legal,Median Base Pay,61287.0
1089,New York City,2017-09,Aerospace & Defense,Median Base Pay,63948.0
1090,New York City,2017-09,Architecture & Civil Engineering,Median Base Pay,62142.0
1091,New York City,2017-09,Arts & Entertainment,Median Base Pay,55254.0
1092,New York City,2017-09,Automotive,Median Base Pay,55632.0
1093,New York City,2017-09,Banking & Financial Services,Median Base Pay,60335.0
1094,New York City,2017-09,Beauty & Fitness,Median Base Pay,53962.0
1095,New York City,2017-09,Biotech & Pharmaceuticals,Median Base Pay,64473.0
1096,New York City,2017-09,Business Services,Median Base Pay,58129.0
1097,New York City,2017-09,Computer Software & Hardware,Median Base Pay,62015.0
1098,New York City,2017-09,Construction,Median Base Pay,61663.0
1099,New York City,2017-09,Consulting,Median Base Pay,61324.0
1100,New York City,2017-09,Consumer Electronics,Median Base Pay,54061.0
1101,New York City,2017-09,Consumer Services,Median Base Pay,54142.0
1102,New York City,2017-09,Education & Schools,Median Base Pay,55158.0
1103,New York City,2017-09,Energy & Utilities,Median Base Pay,67111.0
1104,New York City,2017-09,Facilities,Median Base Pay,55517.0
1105,New York City,2017-09,Farming & Agriculture,Median Base Pay,60233.0
1106,New York City,2017-09,Government,Median Base Pay,60323.0
1107,New York City,2017-09,Health Care & Hospitals,Median Base Pay,59053.0
1108,New York City,2017-09,Information Technology,Median Base Pay,59762.0
1109,New York City,2017-09,Insurance,Median Base Pay,59918.0
1110,New York City,2017-09,Internet & Tech,Median Base Pay,60880.0
1111,New York City,2017-09,Manufacturing,Median Base Pay,61869.0
1112,New York City,2017-09,Marketing & Advertising,Median Base Pay,57301.0
1113,New York City,2017-09,Media & Publishing,Median Base Pay,58116.0
1114,New York City,2017-09,Nonprofit,Median Base Pay,54701.0
1115,New York City,2017-09,Private Security,Median Base Pay,54762.0
1116,New York City,2017-09,Real Estate,Median Base Pay,57855.0
1117,New York City,2017-09,Recruiting & Staffing,Median Base Pay,57050.0

In [11]:
# Show value of salary for each industry as usd
citysalary_df = citysalary_df.rename(columns={"Value": "Salary", "Month": "Year-Month", "Metro": "City"})

In [12]:
citysalary_df.head(50)

,City,Year-Month,Dimension,Measure,Salary
1088,New York City,2017-09,Accounting & Legal,Median Base Pay,61287.0
1089,New York City,2017-09,Aerospace & Defense,Median Base Pay,63948.0
1090,New York City,2017-09,Architecture & Civil Engineering,Median Base Pay,62142.0
1091,New York City,2017-09,Arts & Entertainment,Median Base Pay,55254.0
1092,New York City,2017-09,Automotive,Median Base Pay,55632.0
1093,New York City,2017-09,Banking & Financial Services,Median Base Pay,60335.0
1094,New York City,2017-09,Beauty & Fitness,Median Base Pay,53962.0
1095,New York City,2017-09,Biotech & Pharmaceuticals,Median Base Pay,64473.0
1096,New York City,2017-09,Business Services,Median Base Pay,58129.0
1097,New York City,2017-09,Computer Software & Hardware,Median Base Pay,62015.0
1098,New York City,2017-09,Construction,Median Base Pay,61663.0
1099,New York City,2017-09,Consulting,Median Base Pay,61324.0
1100,New York City,2017-09,Consumer Electronics,Median Base Pay,54061.0
1101,New York City,2017-09,Consumer Services,Median Base Pay,54142.0
1102,New York City,2017-09,Education & Schools,Median Base Pay,55158.0
1103,New York City,2017-09,Energy & Utilities,Median Base Pay,67111.0
1104,New York City,2017-09,Facilities,Median Base Pay,55517.0
1105,New York City,2017-09,Farming & Agriculture,Median Base Pay,60233.0
1106,New York City,2017-09,Government,Median Base Pay,60323.0
1107,New York City,2017-09,Health Care & Hospitals,Median Base Pay,59053.0
1108,New York City,2017-09,Information Technology,Median Base Pay,59762.0
1109,New York City,2017-09,Insurance,Median Base Pay,59918.0
1110,New York City,2017-09,Internet & Tech,Median Base Pay,60880.0
1111,New York City,2017-09,Manufacturing,Median Base Pay,61869.0
1112,New York City,2017-09,Marketing & Advertising,Median Base Pay,57301.0
1113,New York City,2017-09,Media & Publishing,Median Base Pay,58116.0
1114,New York City,2017-09,Nonprofit,Median Base Pay,54701.0
1115,New York City,2017-09,Private Security,Median Base Pay,54762.0
1116,New York City,2017-09,Real Estate,Median Base Pay,57855.0
1117,New York City,2017-09,Recruiting & Staffing,Median Base Pay,57050.0
1118,New York City,2017-09,Restaurants & Bars,Median Base Pay,55717.0
1119,New York City,2017-09,Retail,Median Base Pay,55158.0
1120,New York City,2017-09,Supermarkets,Median Base Pay,57175.0
1121,New York City,2017-09,Telecommunications,Median Base Pay,59275.0
1122,New York City,2017-09,Transportation & Logistics,Median Base Pay,58396.0
1123,New York City,2017-09,Travel & Tourism,Median Base Pay,55543.0
1124,New York City,2017-09,Wholesale,Median Base Pay,59070.0
1125,Los Angeles,2017-09,Accounting & Legal,Median Base Pay,60070.0
1126,Los Angeles,2017-09,Aerospace & Defense,Median Base Pay,62679.0
1127,Los Angeles,2017-09,Architecture & Civil Engineering,Median Base Pay,60909.0
1128,Los Angeles,2017-09,Arts & Entertainment,Median Base Pay,54157.0
1129,Los Angeles,2017-09,Automotive,Median Base Pay,54527.0
1130,Los Angeles,2017-09,Banking & Financial Services,Median Base Pay,59137.0
1131,Los Angeles,2017-09,Beauty & Fitness,Median Base Pay,52891.0
1132,Los Angeles,2017-09,Biotech & Pharmaceuticals,Median Base Pay,63193.0
1133,Los Angeles,2017-09,Business Services,Median Base Pay,56975.0
1134,Los Angeles,2017-09,Computer Software & Hardware,Median Base Pay,60784.0
1135,Los Angeles,2017-09,Construction,Median Base Pay,60439.0
1136,Los Angeles,2017-09,Consulting,Median Base Pay,60106.0
1137,Los Angeles,2017-09,Consumer Electronics,Median Base Pay,52988.0

In [13]:
citysalary_df.Dimension.unique()

array(['Accounting & Legal', 'Aerospace & Defense',
       'Architecture & Civil Engineering', 'Arts & Entertainment',
       'Automotive', 'Banking & Financial Services', 'Beauty & Fitness',
       'Biotech & Pharmaceuticals', 'Business Services',
       'Computer Software & Hardware', 'Construction', 'Consulting',
       'Consumer Electronics', 'Consumer Services', 'Education & Schools',
       'Energy & Utilities', 'Facilities', 'Farming & Agriculture',
       'Government', 'Health Care & Hospitals', 'Information Technology',
       'Insurance', 'Internet & Tech', 'Manufacturing',
       'Marketing & Advertising', 'Media & Publishing', 'Nonprofit',
       'Private Security', 'Real Estate', 'Recruiting & Staffing',
       'Restaurants & Bars', 'Retail', 'Supermarkets',
       'Telecommunications', 'Transportation & Logistics',
       'Travel & Tourism', 'Wholesale'], dtype=object)

In [ ]:
#Data World Majors List


##"Agriculture & Natural Resources', 'Arts',
#'Biology & Life Science', 'Business',
#'Communications & Journalism', 'Computers & Mathematics',
#'Education', 'Engineering', 'Health', 'Humanities & Liberal Arts',
#'Industrial Arts & Consumer Services', 'Interdisciplinary',
#'Law & Public Policy', nan, 'Physical Sciences',
#'Psychology & Social Work', 'Social Science'

In [ ]:
# Kaggle Degrees that pay back Undergraduate Majors List

#Accounting', 'Aerospace Engineering', 'Agriculture',
#'Anthropology', 'Architecture', 'Art History', 'Biology',
#'Business Management', 'Chemical Engineering', 'Chemistry',
#'Civil Engineering', 'Communications', 'Computer Engineering',
#'Computer Science', 'Construction', 'Criminal Justice', 'Drama',
#'Economics', 'Education', 'Electrical Engineering', 'English',
#'Film', 'Finance', 'Forestry', 'Geography', 'Geology',
#'Graphic Design', 'Health Care Administration', 'History',
#'Hospitality & Tourism', 'Industrial Engineering',
#'Information Technology (IT)', 'Interior Design',
#'International Relations', 'Journalism',
#'Management Information Systems (MIS)', 'Marketing', 'Math',
#'Mechanical Engineering', 'Music', 'Nursing', 'Nutrition',
#'Philosophy', 'Physician Assistant', 'Physics',
#'Political Science', 'Psychology', 'Religion', 'Sociology',
#'Spanish'], dtype=object)