In [13]:
import pandas as pd
import os

In [14]:
path = os.getcwd()
files = os.listdir(path)
files

['2017-01 Glassdoor.xlsx',
 '2016-12 Glassdoor.xlsx',
 '2017-09 Glassdoor.xlsx',
 '2017-06 Glassdoor.xlsx',
 '2017-07 Glassdoor.xlsx',
 '2017-12 Glassdoor.xlsx',
 '2017-08 Glassdoor.xlsx',
 '2016-11 Glassdoor.xlsx',
 '2017-02 Glassdoor.xlsx',
 '2017-05 Glassdoor.xlsx',
 '2017-10 Glassdoor.xlsx',
 '2017-11 Glassdoor.xlsx',
 '2017-04 Glassdoor.xlsx',
 '2016-10 Glassdoorl.xlsx',
 '2017-03 Glassdoor.xlsx',
 '2018-01 Glassdoor.xlsx',
 '2018-09 Glassdoor.xlsx',
 '2019-07 Glassdoor.xlsx',
 '2019-12 Glassdoor.xlsx',
 '2019-08 Glassdoor.xlsx',
 '2018-06 Glassdoor.xlsx',
 '2019-01 Glassdoor.xlsx',
 '2019-09 Glassdoor.xlsx',
 '2018-07 Glassdoor.xlsx',
 '2018-12 Glassdoor.xlsx',
 '2018-08 Glassdoor.xlsx',
 '2019-06 Glassdoor.xlsx',
 '2019-11 Glassdoor.xlsx',
 '2019-04 Glassdoor.xlsx',
 '.ipynb_checkpoints',
 '2018-02 Glassdoor.xlsx',
 'Glassdoor Dataset.ipynb',
 '2019-03 Glassdoor.xlsx',
 '2018-05 Glassdoor.xlsx',
 '2018-10 Glassdoor.xlsx',
 '2018-11 Glassdoor.xlsx',
 '2018-04 Glassdoor.xlsx',
 '2019-02 Glassdoor.xlsx',
 '2018-03 Glassdoor.xlsx',
 '2019-05 Glassdoor.xlsx',
 '2019-10 Glassdoor.xlsx']

In [25]:
files_xlsx = [f for f in files if f[-5:] == '.xlsx']
files_xlsx

['2017-01 Glassdoor.xlsx',
 '2016-12 Glassdoor.xlsx',
 '2017-09 Glassdoor.xlsx',
 '2017-06 Glassdoor.xlsx',
 '2017-07 Glassdoor.xlsx',
 '2017-12 Glassdoor.xlsx',
 '2017-08 Glassdoor.xlsx',
 '2016-11 Glassdoor.xlsx',
 '2017-02 Glassdoor.xlsx',
 '2017-05 Glassdoor.xlsx',
 '2017-10 Glassdoor.xlsx',
 '2017-11 Glassdoor.xlsx',
 '2017-04 Glassdoor.xlsx',
 '2016-10 Glassdoorl.xlsx',
 '2017-03 Glassdoor.xlsx',
 '2018-01 Glassdoor.xlsx',
 '2018-09 Glassdoor.xlsx',
 '2019-07 Glassdoor.xlsx',
 '2019-12 Glassdoor.xlsx',
 '2019-08 Glassdoor.xlsx',
 '2018-06 Glassdoor.xlsx',
 '2019-01 Glassdoor.xlsx',
 '2019-09 Glassdoor.xlsx',
 '2018-07 Glassdoor.xlsx',
 '2018-12 Glassdoor.xlsx',
 '2018-08 Glassdoor.xlsx',
 '2019-06 Glassdoor.xlsx',
 '2019-11 Glassdoor.xlsx',
 '2019-04 Glassdoor.xlsx',
 '2018-02 Glassdoor.xlsx',
 '2019-03 Glassdoor.xlsx',
 '2018-05 Glassdoor.xlsx',
 '2018-10 Glassdoor.xlsx',
 '2018-11 Glassdoor.xlsx',
 '2018-04 Glassdoor.xlsx',
 '2019-02 Glassdoor.xlsx',
 '2018-03 Glassdoor.xlsx',
 '2019-05 Glassdoor.xlsx',
 '2019-10 Glassdoor.xlsx']

In [26]:
glassdoor_df = pd.DataFrame()

In [33]:
test = pd.read_excel('2019-10 Glassdoor.xlsx')
test

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY
0,National,Quick Facts,2019-10,U.S. Job Openings,U.S. Job Openings,"6,080,862",5.1%
1,National,Quick Facts,2019-10,U.S. Median Pay,U.S. Median Pay,"$ 54,327",2.1%
2,Atlanta,Quick Facts,2019-10,Metro Job Openings,Metro Job Openings,"123,662",5.1%
3,Atlanta,Quick Facts,2019-10,U.S. Job Openings,U.S. Job Openings,"6,080,862",5.1%
4,Atlanta,Quick Facts,2019-10,Metro Median Pay,Metro Median Pay,"$ 56,066",2.2%
...,...,...,...,...,...,...,...
4855,Washington DC,Company Size,2019-10,5000+,Job Openings,77340,-0.0137437
4856,Washington DC,Company Size,2019-10,501-1000,Job Openings,9362,-0.0754074
4857,Washington DC,Company Size,2019-10,51-200,Job Openings,23759,0.155549
4858,Washington DC,Company Size,2019-10,<51,Job Openings,24132,0.272597
4859,Washington DC,Company Size,2019-10,NaN,Job Openings,12510,0.160287

In [31]:
for f in files_xlsx[:1]:
    data = pd.read_excel(f, 'Sheet1')
    glassdoor_df = glassdoor_df.append(data)

XLRDError: No sheet named <'Sheet1'>

In [28]:
glassdoor_df

Empty DataFrame
Columns: []
Index: []