In [24]:
import pandas as pd
import os

In [25]:
path = os.getcwd()
files = os.listdir(path)

In [26]:
files_xlsx = [f for f in files if f[-5:] == '.xlsx']

In [27]:
glassdoor_df = pd.DataFrame()

In [28]:
for f in files_xlsx:
    data = pd.read_excel(f, sheet_name='Sheet1')
    glassdoor_df = glassdoor_df.append(data)

In [29]:
glassdoor_df.head(2)

,Metro,Dimension Type,Month,Dimension,Measure,Value,YoY
0,National,Quick Facts,2017-09,U.S. Median Pay,U.S. Median Pay,"$ 51,402",1.6%
1,Atlanta,Quick Facts,2017-09,Metro Median Pay,Metro Median Pay,"$ 52,948",1.5%

In [30]:
df = pd.read_excel(files_xlsx[-1:][0], sheet_name=0)

In [31]:
glassdoor_df[(glassdoor_df['Dimension Type']=='Industry') & (glassdoor_df['Measure']=='Median Base Pay')].count()

Metro             12617
Dimension Type    12617
Month             12617
Dimension         12617
Measure           12617
Value             12617
YoY                   0
dtype: int64

In [32]:
glassdoor_df['Metro'].value_counts()

Atlanta          8116
Houston          7841
Seattle          7841
Boston           7841
Chicago          7841
Philadelphia     7841
San Francisco    7837
Los Angeles      7837
Washington DC    7837
New York City    7837
National         7124
U.S.              764
Los-Angeles         4
San-Francisco       4
Washington-DC       4
New-York-City       4
Name: Metro, dtype: int64